<div class="homeContainer" fxLayout="column" fxLayoutAlign="center start">
    <div fxFlex="20%" class="homeContent">
        <h1>Keep it simple silly</h1>
        <p>GetSetGo is an online fitness company that is on a quest to introduce simplicity to nutrition and healthy living.</p>
        <div><button mat-raised-button color="primary" (click)="changeRoute(2)">Get started</button></div>
        <!-- <p highlightgreen>Yo mate!</p>
        <p appBetterHighlightDirective [defaultColor] = "'yellow'" [highlightColor] = "'blue'">Yo mate!</p>  -->
    </div>
    <!-- <app-servers></app-servers> -->
</div>
