<div class="row">
  <div class="col-xs-12 col-sm-4">
    <div class="list-group">
      <a
        [routerLink]="['/servers',i+1]"
        class="list-group-item"
        *ngFor="let server of servers; index as i">
        {{ server.name }}
      </a>
    </div>
    <div>
      <a routerLink="/servers">Reload server</a>
      <button (click)="loadServer()">Reload server</button>
    </div>
  </div>
  <div>
    <router-outlet></router-outlet>
  </div>
  <!-- <div class="col-xs-12 col-sm-4">
    <app-edit-server></app-edit-server>
    <hr>
    <app-server></app-server>
  </div> -->
</div>

