.topMenu{list-style: none; padding: 0; margin: 0}
.topMenu>li{display: inline-block; vertical-align: middle; padding: 5px 10px; margin: 5px; background: #2263cc; color: #fff; border-radius: 5px}
.mainContainer{background: #f1f1f1; margin: 0}
#header{ padding: 5px 10px}
.postList{padding: 10px;}
.content{padding: 10px; background: #c1c1c1}
.postDigestPic{background: #c9d3e2}
.postDigestText{background: #fcfcfc}
.postDigestText p{margin: 0; padding: 5px}
.postDigestPic, .postDigestText{min-height: 80px }
