<div fxLayout="column" class="mainContainer" fxFlexFill>
    <app-header></app-header>
    <div fxFlexAlign="stretch" id="contentContainer" fxFlexFill>
        <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start stretch" fxLayoutGap="20px">
            <div fxFlexAlign="start" fxFlexAlign.xs="stretch" fxFlex="40%" class="postList">
                <div *ngFor = "let post of data; index as i" (click)="currIndx = i">
                    <app-post [post] = post></app-post>
                </div>
            </div>
            <div fxFlexAlign="start" fxFlex="60%" class="content">
                <app-content [data]=data[currIndx]></app-content>
            </div>

        </div>
    </div>
    <app-footer></app-footer>
</div>