<div fxLayout="column" class="mainContainer" fxLayoutAlign="start stretch">
    <div fxFlexAlign="stretch" id="header">
        I am the header
    </div>
    <div fxFlexAlign="stretch" id="contentContainer">
        <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start stretch">
            <div fxFlexAlign="start" fxFlexAlign.xs="stretch" fxFlex="40%" class="postList">
                <ul>
                    <li>First post</li>
                    <li>First post</li>
                    <li>First post</li>
                    <li>First post</li>
                </ul>
            </div>
            <div fxFlexAlign="start" fxFlex="60%" class="content">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>

        </div>
    </div>
    <div fxFlexAlign="stretch" id="footer">
        Footer
    </div>
</div>